# Skycaptain: VSCode "Open in Gitfox" Extension
#
# See https://editorconfig.org/ for usage.
#
# SPDX-License-Identifier: BSD-3-Clause
#
root = true

# Global
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Git
[.gitignore]
indent_style = tab
trim_trailing_whitespace = false

# JSON, YAML, TOML
[*.{json,yaml,yml,toml}]
indent_size = 2

# JavaScript, TypeScript
[*.{js,ts,cjs,mjs}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_size = unset
